section.section.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Этапы нашей работы:
		.service-steps__list
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-10_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-10_1.webp` srcset=`${baseDirCurImg}service-steps-10_1@2x.webp 2x` alt="Обсуждение документов — консультация по выбору курса")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-title Консультация
						p.text.service-steps__description-text Помогаем выбрать подходящую группу и&nbsp;уровень.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-10_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-10_2.webp` srcset=`${baseDirCurImg}service-steps-10_2@2x.webp 2x` alt="Ноутбук — запись и оформление зачисления на курс")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-title Запись и&nbsp;оформление
						p.text.service-steps__description-text Координируем ваше зачисление на&nbsp;курс.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-10_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-10_3.webp` srcset=`${baseDirCurImg}service-steps-10_3@2x.webp 2x` alt="Студентка с рюкзаком — начало обучения")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-title Обучение
						p.text.service-steps__description-text Сопровождаем процесс и&nbsp;поддерживаем связь с&nbsp;учебным заведением.
