section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__grid
				.service-details__col.service-details__col_1
					picture.service-details__picture
						source(media="(max-width: 768px)" srcset=`${baseDirCurImg}service-details-1@2x.webp`)
						img.service-details__img(width="570" height="570" src=`${baseDirCurImg}service-details-1.webp` srcset=`${baseDirCurImg}service-details-1@2x.webp 2x` alt="Консультация по вопросам получения РВП")
				.service-details__col.service-details__col_2
					p.text.text_mid.service-details__text <b>Наша организация оказывает комплексное сопровождение на&nbsp;всех этапах получения РВП:</b> от&nbsp;консультации по&nbsp;подбору оснований и&nbsp;подготовки документов до&nbsp;взаимодействия с&nbsp;органами ГУВМ МВД России.
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Основные преимущества получения РВП с&nbsp;нашей поддержкой:
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-1_1.svg` width="40" height="40" alt="Легальное трудоустройство")
							p.text.difficulties__text Легальное трудоустройство без необходимости оформления патента
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-1_2.svg` width="40" height="40" alt="Медицинское обслуживание")
							p.text.difficulties__text Доступ к&nbsp;полису ОМС и&nbsp;бесплатному медицинскому обслуживанию
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-1_3.svg` width="40" height="40" alt="Социальные гарантии")
							p.text.difficulties__text Право на&nbsp;социальные гарантии и&nbsp;ведение предпринимательской деятельности
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-1_4.svg` width="40" height="40" alt="Регистрация по месту жительства")
							p.text.difficulties__text Возможность оформить регистрацию по&nbsp;месту жительства
