section.section.section_last.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Как мы работаем:
		.service-steps__list
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-1_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-1_1.webp` srcset=`${baseDirCurImg}service-steps-1_1@2x.webp 2x` alt="Консультация по получению РВП")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-title Консультация и&nbsp;анализ
						p.text.service-steps__description-text Мы&nbsp;определяем наиболее вероятное и&nbsp;быстрое основание для получения РВП&nbsp;именно в&nbsp;вашей ситуации
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-1_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-1_2.webp` srcset=`${baseDirCurImg}service-steps-1_2@2x.webp 2x` alt="Документы, подготовленные для оформления разрешения на временное проживание")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-title Подготовка документов
						p.text.service-steps__description-text Наши специалисты готовят полный пакет документов в&nbsp;соответствии с&nbsp;требованиями миграционного законодательства, включая помощь с&nbsp;переводами, медкомиссией и&nbsp;экзаменами
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-1_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-1_3.webp` srcset=`${baseDirCurImg}service-steps-1_3@2x.webp 2x` alt="Подача заявления и сопровождение процесса")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-title Подача и&nbsp;сопровождение
						p.text.service-steps__description-text Мы&nbsp;берем на&nbsp;себя взаимодействие с&nbsp;уполномоченными органами, контролируем сроки и&nbsp;статус рассмотрения вашего заявления
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-1_4@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-1_4.webp` srcset=`${baseDirCurImg}service-steps-1_4@2x.webp 2x` alt="Получение разрешения на временное проживание")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 4
					.service-steps__description
						p.text.service-steps__description-title Получение результата
						p.text.service-steps__description-text Помогаем завершить процедуру: поставить отметку в&nbsp;паспорт, пройти дактилоскопию и&nbsp;оформить регистрацию
		.service-steps__important-block.green-block
			p.text.text_white.service-steps__important-text
				span.text_mid Важно:&nbsp;
				| Процедура требует строгого соблюдения сроков и&nbsp;правил подачи уведомлений о&nbsp;подтверждении проживания и&nbsp;доходов. Мы&nbsp;предоставляем дальнейшие консультации для беспроблемного соблюдения ваших обязательств перед государством.
