footer.footer
	.wrapper
		.footer__inner
			.footer__logo
				a.footer__logo-link(href=`${langPrefix}/`)
					img(src=`${baseDirImg}logo-white.svg` width="170" height="40" alt="Logo «OKA Agency»")
			.footer__wrapper
				ul.footer__menu
					li.footer__menu-item
						a.text.text_white.text_sm.footer__menu-link(href=`${langPrefix}/about/`) О нас
					li.footer__menu-item
						a.text.text_white.text_sm.footer__menu-link(href=`${langPrefix}/services/`) Услуги
					li.footer__menu-item
						a.text.text_white.text_sm.footer__menu-link(href=`${langPrefix}/blog/`) Статьи
					li.footer__menu-item
						a.text.text_white.text_sm.footer__menu-link(href=`${langPrefix}/faq/`) FAQ
					li.footer__menu-item
						a.text.text_white.text_sm.footer__menu-link(href=`${langPrefix}/cases/`) Кейсы
					li.footer__menu-item
						a.text.text_white.text_sm.footer__menu-link(href=`${langPrefix}/contacts/`) Контакты
				.footer__info
					ul.footer__info-list
						li.footer__info-item
							a.footer__info-link(href=`${langPrefix}/terms-and-conditions/`) Политика конфиденциальности
						li.footer__info-item
							a.footer__info-link(href=`${langPrefix}/terms-of-use/`) Условия использования
