.page-header__head
	.wrapper
		.page-header__wrapper
			a.page-header__link-logo(href=`${langPrefix}/`)
				img.page-header__logo(src=`${baseDirImg}logo.svg` alt="Logo «OKA Agency»" width="100" height="33")
			button.page-header__burger.js-open-menu
				span.page-header__burger-item
				span.page-header__burger-item
			nav.page-header__nav.main-nav
				ul.main-nav__list.page-header__menu-list
					li.main-nav__item(class={active: currentPage == "about"})
						a.main-nav__link(href=`${langPrefix}/about/`) О нас
							span.main-nav__decor-line
					li.main-nav__item(class={active: currentPage == "services"})
						a.main-nav__link(href=`${langPrefix}/services/`) Услуги
							span.main-nav__decor-line
					li.main-nav__item(class={active: currentPage == "blog"})
						a.main-nav__link(href=`${langPrefix}/blog/`) Статьи
							span.main-nav__decor-line
					li.main-nav__item(class={active: currentPage == "faq"})
						a.main-nav__link(href=`${langPrefix}/faq/`) FAQ
							span.main-nav__decor-line
					li.main-nav__item(class={active: currentPage == "cases"})
						a.main-nav__link(href=`${langPrefix}/cases/`) Кейсы
							span.main-nav__decor-line
					li.main-nav__item(class={active: currentPage == "contacts"})
						a.main-nav__link(href=`${langPrefix}/contacts/`) Контакты
							span.main-nav__decor-line
					li.main-nav__item.main-nav__item-lang-wrapper.mobile
						each language in ['ru', 'en', 'de', 'fr']
							- const langPrefix = (language === 'en') ? '' : `/${language}`;
							.page-header__language-item
								a.page-header__language-link(
									class=`page-header__language-link_${language}`
									href=`${langPrefix}/${currentPage ? currentPage + '/' : ''}`
									data-lang=language
								) #{language.toUpperCase()}

			button.page-header__close-search.js-close-search
				span.visually-hidden Закрыть окно поиска
				.page-header__circle
				.page-header__circle
				.page-header__circle
			a.btn.btn_white.page-header__consultation(href=`${langPrefix}/request-form/`)
				span Консультация
			.page-header__search
				.page-header__search-wrapper
					form.page-header__search-form.js-search-form(action="/search/")
						input.page-header__search-input(type="text" name="search" placeholder="Введите запрос например, \"вид на жительство\"" required)
						button.page-header__btn(type="submit")
							span.visually-hidden Найти
							| <svg class="page-header__search-svg page-header__svg-submit" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
							|     <path d="M14 24C8.47715 24 4 19.5228 4 14C4 8.47715 8.47715 4 14 4C19.5228 4 24 8.47715 24 14C24 19.5228 19.5228 24 14 24Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
							|     <path d="M21.0713 21.0703L28 27.9991" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
							| </svg>
				button.page-header__open-search.js-open-search
					span.visually-hidden Показать окно поиска
					| <svg class="page-header__search-svg page-header__search-svg-open" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
					|     <path d="M14 24C8.47715 24 4 19.5228 4 14C4 8.47715 8.47715 4 14 4C19.5228 4 24 8.47715 24 14C24 19.5228 19.5228 24 14 24Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
					|     <path d="M21.0713 21.0703L28 27.9991" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
					| </svg>
			.page-header__language
				button.page-header__language-toggle.js-language-toggle(class=`page-header__language-toggle_${lang}` aria-expanded="false")
					span.visually-hidden Выбор языка
					span.page-header__cur-lang-bg
					span.page-header__language-current #{lang}
					| <svg class="page-header__language-arrow" viewBox="0 0 32 32" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
					|     <path d="M26 12L16 22L6 12" fill-rule="nonzero" stroke="rgb(0,0,0)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
					| </svg>
				ul.page-header__language-dropdown
					each language in ['ru', 'en', 'de', 'fr']
						if lang !== language
							- const langPrefix = (language === 'en') ? '' : `/${language}`;
							li.page-header__language-item
								a.page-header__language-link(
									class=`page-header__language-link_${language}`
									href=`${langPrefix}/${currentPage ? currentPage + '/' : ''}`
									data-lang=language
								) #{language.toUpperCase()}

