nav.page-header__nav.main-nav
	ul.main-nav__list
		li.main-nav__item(class={active : currentPage == "about"})
			a.main-nav__link(href=`/${local}/about/`) О нас
				span.main-nav__decor-line
		li.main-nav__item(class={active : currentPage == "services"})
			a.main-nav__link(href=`/${local}/services/`) Услуги
				span.main-nav__decor-line
		li.main-nav__item(class={active : currentPage == "blog"})
			a.main-nav__link(href=`/${local}/blog/`) Статьи
				span.main-nav__decor-line
		li.main-nav__item(class={active : currentPage == "faq"})
			a.main-nav__link(href=`/${local}/faq/`) FAQ
				span.main-nav__decor-line
		li.main-nav__item(class={active : currentPage == "cases"})
			a.main-nav__link(href=`/${local}/cases/`) Кейсы
				span.main-nav__decor-line
		li.main-nav__item(class={active : currentPage == "contacts"})
			a.main-nav__link(href=`/${local}/contacts/`) Контакты
				span.main-nav__decor-line
