section.section.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Этапы нашей работы:
		.service-steps__list
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-2_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-2_1.webp` srcset=`${baseDirCurImg}service-steps-2_1@2x.webp 2x` alt="Консультация по оформлению ВНЖ")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-title Консультация и&nbsp;анализ
						p.text.service-steps__description-text Проверим, подходите&nbsp;ли вы&nbsp;для упрощенного порядка, и&nbsp;определим оптимальную стратегию.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-2_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-2_2.webp` srcset=`${baseDirCurImg}service-steps-2_2@2x.webp 2x` alt="Подготовка пакета документов для подачи в МВД")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-title Подготовка документов
						p.text.service-steps__description-text Поможем с&nbsp;нотариальными переводами, медкомиссией, сертификатом о&nbsp;языке и&nbsp;справкой о&nbsp;доходах.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-2_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-2_3.webp` srcset=`${baseDirCurImg}service-steps-2_3@2x.webp 2x` alt="Подача заявления на оформление ВНЖ в ведомство")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-title Подача заявления
						p.text.service-steps__description-text Подадим документы в&nbsp;МВД и&nbsp;возьмем на&nbsp;себя все взаимодействие с&nbsp;ведомством.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-2_4@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-2_4.webp` srcset=`${baseDirCurImg}service-steps-2_4@2x.webp 2x` alt="Специалист отслеживает статус заявления на телефоне")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 4
					.service-steps__description
						p.text.service-steps__description-title Контроль и&nbsp;информирование
						p.text.service-steps__description-text Будем отслеживать статус заявления и&nbsp;оперативно сообщать вам о&nbsp;результатах.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-2_5@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-2_5.webp` srcset=`${baseDirCurImg}service-steps-2_5@2x.webp 2x` alt="Передача паспорта и получение вида на жительство")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 5
					.service-steps__description
						p.text.service-steps__description-title Получение ВНЖ
						p.text.service-steps__description-text Поможем завершить процедуру и&nbsp;получить ваш вид на&nbsp;жительство.
