section.section.cases-promo.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.cases-promo__header
			h2.title-h2.cases-promo__title Истории успеха
		p.text.text_mid.cases-promo__lead Многие иностранцы, переехавшие в&nbsp;Россию, ценят гостеприимство местных жителей и&nbsp;богатую культуру.<br> Они не&nbsp;только строят карьеру, но&nbsp;и&nbsp;находят здесь свой второй дом.
		.cases-promo__grid
			a.cases-promo__item(href=`${langPrefix}/cases/barben/`)
				.cases-promo__bg.glass-card
				.cases-promo__bg.green-block
				.cases-promo__media
					img.cases-promo__img(src=`${baseDirCurImg}success-1.webp` srcset=`${baseDirCurImg}success-1@2x.webp 2x` width="310" height="310" alt="Семья Барбен")
				.cases-promo__content
					p.text.text_mid.cases-promo__name Семья Барбен
					p.text.cases-promo__quote &laquo;В&nbsp;России мы&nbsp;обрели духовную родину, где наши ценности могут прочно укорениться&raquo;.
				span.link.text.cases-promo__link Читать полностью
			a.cases-promo__item(href=`${langPrefix}/cases/klarot/`)
				.cases-promo__bg.glass-card
				.cases-promo__bg.green-block
				.cases-promo__media
					img.cases-promo__img(src=`${baseDirCurImg}success-2.webp` srcset=`${baseDirCurImg}success-2@2x.webp 2x` width="310" height="310" alt="Семья Кларот")
				.cases-promo__content
					p.text.text_mid.cases-promo__name Семья Кларот
					p.text.cases-promo__quote «Россия дала нам возможность реализовать проект, который меняет мир к&nbsp;лучшему».
				span.link.text.cases-promo__link Читать полностью
			a.cases-promo__item(href=`${langPrefix}/cases/golembiewski/`)
				.cases-promo__bg.glass-card
				.cases-promo__bg.green-block
				.cases-promo__media
					img.cases-promo__img(src=`${baseDirCurImg}success-3.webp` srcset=`${baseDirCurImg}success-3@2x.webp 2x` width="310" height="310" alt="Семья Голембиевски")
				.cases-promo__content
					p.text.text_mid.cases-promo__name Семья Голембиевски
					p.text.cases-promo__quote «В&nbsp;России мы&nbsp;получили шанс реализовать то, о&nbsp;чём мы&nbsp;давно мечтали».
				span.link.text.cases-promo__link Читать полностью
			a.cases-promo__item(href=`${langPrefix}/cases/kirsch/`)
				.cases-promo__bg.glass-card
				.cases-promo__bg.green-block
				.cases-promo__media
					img.cases-promo__img(src=`${baseDirCurImg}success-4.webp` srcset=`${baseDirCurImg}success-4@2x.webp 2x` width="310" height="310" alt="Ремо Кирш")
				.cases-promo__content
					p.text.text_mid.cases-promo__name Семья Кирш
					p.text.cases-promo__quote «Мы&nbsp;строим не&nbsp;просто дом, а&nbsp;наследие&nbsp;&mdash; проект, который объединяет людей и&nbsp;культуры».
				span.link.text.cases-promo__link Читать полностью
			.article.cases-promo__item.cases-promo__item_last.glass-card
				.cases-promo__media
					img.cases-promo__img(src=`${baseDirCurImg}success-5.webp` srcset=`${baseDirCurImg}success-5@2x.webp 2x` width="310" height="310" alt="Ваша история успеха")
				.cases-promo__content
					p.text.text_mid.cases-promo__name.cases-promo__name_last Твоя история успеха может стать <span>следующей</span>
				a.btn.btn_transparent.cases-promo__btn(href=`${langPrefix}/request-form/`)
					span Подать заявку
