extends ../../../pug/base

append vars
	- lang = "ru"
	- currentPage = "faq"
	- baseDir = '../../'
	- baseDirImg = `${baseDir}images/`
	- baseDirCurImg = `${baseDir}images/${currentPage}/`
	- const langPrefix = (lang === 'en') ? '' : `/${lang}`;
	- title = "The OKA Agency facilitates relocation to Russia by assisting with TRPs, residence permits, citizenship, and offering personal consultations. - Simplify Your Move to Russia. Relocating to a new country is challenging—we make it effortless. Our services include: Personal Consultations, Temporary Residence Permits (TRP), Residence Permits, Russian Citizenship.  Simplify Your Move to Russia. Relocating to a new country is challenging—we make it effortless. Our services include: Personal Consultations, Temporary Residence Permits (TRP), Residence Permits, Russian Citizenship."
	- description = "Simplify Your Move to Russia. Relocating to a new country is challenging—we make it effortless. Our services include: Personal Consultations, Temporary Residence Permits (TRP), Residence Permits, Russian Citizenship."
	- meta.ogTitle = "The OKA Agency facilitates relocation to Russia by assisting with TRPs, residence permits, citizenship, and offering personal consultations. - Simplify Your Move to Russia. Relocating to a new country is challenging—we make it effortless. Our services include: Personal Consultations, Temporary Residence Permits (TRP), Residence Permits, Russian Citizenship.  Simplify Your Move to Russia. Relocating to a new country is challenging—we make it effortless. Our services include: Personal Consultations, Temporary Residence Permits (TRP), Residence Permits, Russian Citizenship."
	- meta.ogDescription = "Simplify Your Move to Russia. Relocating to a new country is challenging—we make it effortless. Our services include: Personal Consultations, Temporary Residence Permits (TRP), Residence Permits, Russian Citizenship."
	- link.icon = `${baseDir}favicons/favicon.ico`
	- link.iconSvg = `${baseDir}favicons/favicon.svg`
	- link.icon96x96 = `${baseDir}favicons/favicon-96x96.png`
	- link.appleTouchIcon = `${baseDir}favicons/apple-touch-icon.png`
	- link.manifest = `${baseDir}favicons/site.webmanifest`

block additional-meta
	meta(property="og:locale:alternate" content="en_US")
	meta(property="og:locale:alternate" content="de_DE")
	meta(property="og:locale:alternate" content="fr_FR")

block body-start
	header.page-header
		include ../../../pug/blocks/header
block content
	include ../../../pug/pages/faq/breadcrumbs-section
	include ../../../pug/pages/faq/faq
	include ../../../pug/pages/faq/cases-cta
	include ../../../pug/blocks/ai-helper

block footer
	include ../../../pug/blocks/footer

