section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__grid
				.service-details__col.service-details__col_1
					picture.service-details__picture
						source(media="(max-width: 768px)" srcset=`${baseDirCurImg}service-details-8@2x.webp`)
						img.service-details__img(width="570" height="570" src=`${baseDirCurImg}service-details-8.webp` srcset=`${baseDirCurImg}service-details-8@2x.webp 2x` alt="Мальчик с ноутбуком в школе — обучение и адаптация детей в России")
				.service-details__col.service-details__col_2
					p.text.text_mid.service-details__text Вместе мы&nbsp;поможем вашим детям быстро адаптироваться в&nbsp;России с&nbsp;помощью языковой подготовки, обучения в&nbsp;школе и&nbsp;поиска новых друзей.
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Для кого эта услуга?
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-8-icon_1.svg` width="40" height="40" alt="Улыбка — адаптация детей иностранных граждан")
							p.text.difficulties__text Для детей иностранных граждан, переехавших в&nbsp;Россию на&nbsp;постоянное место жительства.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-8-icon_2.svg` width="40" height="40" alt="Рюкзак — обучение и изучение русского языка")
							p.text.difficulties__text Для детей иностранных граждан, которым нужно изучить русский язык и&nbsp;найти друзей в&nbsp;новой стране.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-8-icon_3.svg` width="40" height="40" alt="Академическая шапочка — интеграция в образование России")
							p.text.difficulties__text Для иностранных семей, которые хотят, чтобы их&nbsp;дети комфортно влились в&nbsp;российскую образовательную среду.
