section.section.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Этапы нашей работы:
		.service-steps__list
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-9_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-9_1.webp` srcset=`${baseDirCurImg}service-steps-9_1@2x.webp 2x` alt="Девочка с ноутбуком — консультация и отбор")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-title Консультация и&nbsp;отбор
						p.text.service-steps__description-text Помогаем определить уровень ребенка и&nbsp;записать на&nbsp;подходящую программу.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-9_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-9_2.webp` srcset=`${baseDirCurImg}service-steps-9_2@2x.webp 2x` alt="Учитель с детьми — включение в учебную группу")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-title Включение в&nbsp;группу
						p.text.service-steps__description-text Формируем комфортные группы для обучения.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-9_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-9_3.webp` srcset=`${baseDirCurImg}service-steps-9_3@2x.webp 2x` alt="Школьный класс — координация со школой")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-title Координация
						p.text.service-steps__description-text Сопровождаем взаимодействие семьи со&nbsp;Школой 800.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-9_4@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-9_4.webp` srcset=`${baseDirCurImg}service-steps-9_4@2x.webp 2x` alt="Книги и доска — поддержка в учебном процессе")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 4
					.service-steps__description
						p.text.service-steps__description-title Поддержка в&nbsp;процессе
						p.text.service-steps__description-text Помогаем решать организационные вопросы.
