section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__grid
				.service-details__col.service-details__col_1
					picture.service-details__picture
						source(media="(max-width: 768px)" srcset=`${baseDirCurImg}service-details-7@2x.webp`)
						img.service-details__img(width="570" height="570" src=`${baseDirCurImg}service-details-7.webp` srcset=`${baseDirCurImg}service-details-7@2x.webp 2x` alt="Мужчина с портфелем — символ бизнеса и инвестиций в России")
				.service-details__col.service-details__col_2
					p.text.text_mid.service-details__text Мы&nbsp;обеспечиваем трансформацию бизнес-идеи в&nbsp;легальную и&nbsp;финансово устойчивую бизнес-модель, адаптированную под российские правовые и&nbsp;экономические реалии.
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Для кого эта услуга?
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-7-icon_1.svg` width="40" height="40" alt="Лампочка — новые бизнес-идеи и предпринимательство")
							p.text.difficulties__text Для иностранных предпринимателей, планирующих начать бизнес в&nbsp;России.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-7-icon_2.svg` width="40" height="40" alt="Монеты — инвестиции и оптимизация налогов")
							p.text.difficulties__text Для иностранных инвесторов, желающих легально оптимизировать налоги.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-7-icon_3.svg` width="40" height="40" alt="Часы — экономия времени и меньше бюрократии")
							p.text.difficulties__text Для иностранных граждан, которые ценят время и&nbsp;хотят избежать бюрократических ошибок.
