section.section.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Этапы нашей работы:
		.service-steps__list
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_1.webp` srcset=`${baseDirCurImg}service-steps-7_1@2x.webp 2x` alt="Обсуждение документов — анализ бизнес-идеи и целей")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-title Анализ целей
						p.text.service-steps__description-text Изучаем вашу бизнес-идею, планируемые доходы и&nbsp;вид деятельности.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_2.webp` srcset=`${baseDirCurImg}service-steps-7_2@2x.webp 2x` alt="Группа людей — выбор стратегии бизнеса")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-title Выбор стратегии
						p.text.service-steps__description-text Подбираем оптимальную форму компании и&nbsp;систему налогообложения.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_3.webp` srcset=`${baseDirCurImg}service-steps-7_3@2x.webp 2x` alt="Ноутбук с графиками — подготовка к регистрации бизнеса")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-title Подготовка к&nbsp;регистрации
						p.text.service-steps__description-text Помогаем собрать и&nbsp;подготовить пакет документов.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_4@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_4.webp` srcset=`${baseDirCurImg}service-steps-7_4@2x.webp 2x` alt="Смартфон — консультационное сопровождение клиентов")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 4
					.service-steps__description
						p.text.service-steps__description-title Консультационное сопровождение
						p.text.service-steps__description-text Поясняем каждый этап, помогаем в&nbsp;общении с&nbsp;госорганами.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_5@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_5.webp` srcset=`${baseDirCurImg}service-steps-7_5@2x.webp 2x` alt="Записи в блокноте — пост-регистрационная поддержка бизнеса")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 5
					.service-steps__description
						p.text.service-steps__description-title Пост-регистрационная поддержка
						p.text.service-steps__description-text Консультируем по&nbsp;дальнейшему ведению бизнеса.
