section.section.story.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.story__header
			h2.title-h2.story__title Новая жизнь семьи Барбен
		.story__grid
			p.text.story__lead История семьи Барбен&nbsp;&mdash; <span class="text__accent">вдохновляющий пример того, как</span> искренние убеждения в&nbsp;сочетании с&nbsp;поддержкой гостеприимного сообщества могут помочь <span class="text__accent">создать поистине новую и&nbsp;счастливую главу в&nbsp;жизни</span>
			picture.story__picture
				source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}story-1@2x.webp`)
				img.story__img(src=`${baseDirCurImg}story-1.webp` srcset=`${baseDirCurImg}story-1@2x.webp 1x` width="370" height="420" alt="Семья Барбен")
			picture.story__picture
				source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}story-2@2x.webp`)
				img.story__img(src=`${baseDirCurImg}story-2.webp` srcset=`${baseDirCurImg}story-2@2x.webp 2x` width="370" height="240" alt="Семья Барбен")
