section.section.story.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.story__header
			h2.title-h2.story__title Новая жизнь семьи Кларот
		.story__grid
			p.text.story__lead Их&nbsp;энергия и&nbsp;решительность встретили ощутимую поддержку. Весной 2025 года при содействии Агентства &laquo;ОКА&raquo; семья Кларот успешно получила Разрешение на&nbsp;Временное Проживание (РВП) в&nbsp;соответствии с&nbsp;Указом Президента &#8470;&nbsp;702.
			picture.story__picture
				source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}story-3@2x.webp`)
				img.story__img(src=`${baseDirCurImg}story-3.webp` srcset=`${baseDirCurImg}story-3@2x.webp 1x` width="370" height="420" alt="Семья Кларот")
			picture.story__picture
				source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}story-4@2x.webp`)
				img.story__img(src=`${baseDirCurImg}story-4.webp` srcset=`${baseDirCurImg}story-4@2x.webp 2x` width="370" height="240" alt="Семья Кларот")
