section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Основные направления консультирования:
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-5-icon_4.svg` width="40" height="40" alt="Рюкзак — семейные и образовательные вопросы")
							p.text.difficulties__text <b>Семейные вопросы:</b> Устройство детей в&nbsp;образовательные учреждения, подбор нянь и&nbsp;образовательных курсов.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-5-icon_5.svg` width="40" height="40" alt="Документ — консультации по миграции и ВНЖ")
							p.text.difficulties__text <b>Миграция:</b> консультации и&nbsp;сопровождение по&nbsp;вопросам получения РВП, ВНЖ и&nbsp;гражданства&nbsp;РФ.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-5-icon_6.svg` width="40" height="40" alt="Портфель — помощь в трудоустройстве")
							p.text.difficulties__text <b>Карьерное консультирование:</b> помощь в&nbsp;трудоустройстве в&nbsp;новой стране.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-5-icon_7.svg` width="40" height="40" alt="Здание — недвижимость и транспорт")
							p.text.difficulties__text <b>Недвижимость и&nbsp;транспорт:</b> консультации по&nbsp;аренде, покупке и&nbsp;оформлению имущества.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-5-icon_8.svg` width="40" height="40" alt="Папка — юридическое сопровождение бизнеса")
							p.text.difficulties__text <b>Юридическое сопровождение:</b> регистрация бизнеса, поддержка миграционного учета (уведомления о&nbsp;подтверждении проживания).
