section.section.section_last.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Этапы нашей работы:
		.service-steps__list
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-5_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-5_1.webp` srcset=`${baseDirCurImg}service-steps-5_1@2x.webp 2x` alt="Обсуждение за ноутбуком — определение потребностей")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-title Определение потребностей
						p.text.service-steps__description-text Выясняем, какая помощь вам нужна.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-5_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-5_2.webp` srcset=`${baseDirCurImg}service-steps-5_2@2x.webp 2x` alt="Просмотр документов — подбор решений")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-title Подбор решений
						p.text.service-steps__description-text Находим проверенные варианты по&nbsp;каждому запросу.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-5_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-5_3.webp` srcset=`${baseDirCurImg}service-steps-5_3@2x.webp 2x` alt="Работа за ноутбуком — консультирование и сопровождение")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-title Консультирование и&nbsp;сопровождение
						p.text.service-steps__description-text Комплексно подходим к&nbsp;решению вашей задачи и&nbsp;сопровождаем вплоть до&nbsp;её&nbsp;завершения.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-5_4@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-5_4.webp` srcset=`${baseDirCurImg}service-steps-5_4@2x.webp 2x` alt="Смартфон — постоянная поддержка клиента")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 4
					.service-steps__description
						p.text.service-steps__description-title Постоянная поддержка
						p.text.service-steps__description-text Остаемся на&nbsp;связи по&nbsp;любым вопросам и&nbsp;после решения вашего запроса.
