section.section.story.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.story__header
			h2.title-h2.story__title Новая жизнь семьи Голембевски
		.story__grid
			p.text.story__lead В&nbsp;2025&nbsp;году, при поддержке Агентства &laquo;ОКА&raquo;, семья получила Разрешение на&nbsp;Временное Проживание (РВП) в&nbsp;России в&nbsp;соответствии с&nbsp;Указом Президента России &#8470;&nbsp;702.
			picture.story__picture
				source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}story-3@2x.webp`)
				img.story__img(src=`${baseDirCurImg}story-5.webp` srcset=`${baseDirCurImg}story-5@2x.webp 1x` width="370" height="420" alt="Семья Голембевски")
			picture.story__picture
				source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}story-4@2x.webp`)
				img.story__img(src=`${baseDirCurImg}story-6.webp` srcset=`${baseDirCurImg}story-6@2x.webp 2x` width="370" height="240" alt="Семья Голембевски")
