section.section.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Этапы нашей работы:
		.service-steps__list
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-4_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-4_1.webp` srcset=`${baseDirCurImg}service-steps-4_1@2x.webp 2x` alt="Гостиная — обсуждение требований к жилью")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-title Выявление потребностей
						p.text.service-steps__description-text Уточняем ваши требования к&nbsp;бюджету, локации, типу жилья и&nbsp;сроком.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-4_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-4_2.webp` srcset=`${baseDirCurImg}service-steps-4_2@2x.webp 2x` alt="Изучение документов — анализ рынка недвижимости")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-title Анализ рынка и&nbsp;подбор
						p.text.service-steps__description-text Предлагаем проверенные варианты, соответствующие запросу.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-4_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-4_3.webp` srcset=`${baseDirCurImg}service-steps-4_3@2x.webp 2x` alt="Осмотр квартиры с агентом — переговоры")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-title Организация просмотров и&nbsp;переговоры
						p.text.service-steps__description-text Сопровождаем на&nbsp;просмотрах и&nbsp;ведем переговоры с&nbsp;собственниками, сопровождаем при подписании документов.
