section.section.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Этапы нашей работы:
		.service-steps__list
			p.text.text_mid.service-steps__prev-title До консультации
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_1.webp` srcset=`${baseDirCurImg}service-steps-7_1@2x.webp 2x` alt="Ноутбук с письмом — диагностический опросник")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-text Вы&nbsp;получаете письмо с&nbsp;Диагностическим опросником: экономия времени для знакомства, сбора и&nbsp;анализа полной картины вашей ситуации на&nbsp;рынке труда.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_2.webp` srcset=`${baseDirCurImg}service-steps-7_2@2x.webp 2x` alt="Печать на ноутбуке — отправка резюме")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-text Вы&nbsp;присылаете нам резюме, если оно есть в&nbsp;наличии&nbsp;&mdash; текущая версия: для детального анализа.
			p.text.text_mid.service-steps__prev-title На консультации
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_3.webp` srcset=`${baseDirCurImg}service-steps-7_3@2x.webp 2x` alt="Обсуждение за столом — консультация и рекомендации")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-text Мы&nbsp;обсуждаем ваш запрос, вы&nbsp;получаете ответы на&nbsp;свои вопросы, персональные рекомендации, при необходимости&nbsp;&mdash; домашние задания.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_4@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_4.webp` srcset=`${baseDirCurImg}service-steps-7_4@2x.webp 2x` alt="Документы в руках — план действий")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 4
					.service-steps__description
						p.text.service-steps__description-text Обсуждаем детальный план действий, если вы&nbsp;принимаете решение о&nbsp;совместной работе больше, чем 1&nbsp;консультация.
			p.text.text_mid.service-steps__prev-title После консультации
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_5@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_5.webp` srcset=`${baseDirCurImg}service-steps-7_5@2x.webp 2x` alt="Рабочее место — получение материалов после консультации")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 5
					.service-steps__description
						p.text.service-steps__description-text Вы&nbsp;получаете полезные материалы, домашние задания, при необходимости&nbsp;&mdash; запись видео консультации.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-7_6@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-7_6.webp` srcset=`${baseDirCurImg}service-steps-7_6@2x.webp 2x` alt="Группа людей — совместная реализация плана действий")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 6
					.service-steps__description
						p.text.service-steps__description-text Наша совместная работа по&nbsp;реализации согласованного с&nbsp;вами плана действий.
