section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__grid
				.service-details__col.service-details__col_1
					picture.service-details__picture
						source(media="(max-width: 768px)" srcset=`${baseDirCurImg}service-details-3@2x.webp`)
						img.service-details__img(width="570" height="570" src=`${baseDirCurImg}service-details-3.webp` srcset=`${baseDirCurImg}service-details-3@2x.webp 2x` alt="Семья с детьми гуляет по полю в летний день.")
				.service-details__col.service-details__col_2
					p.text.text_mid.service-details__text Получение гражданства Российской Федерации требует минимум 5&nbsp;лет проживания в&nbsp;стране. Но&nbsp;при получении гражданства&nbsp;РФ в&nbsp;упрощенном порядке требуемый срок проживания в&nbsp;России сокращается с&nbsp;5&nbsp;лет до&nbsp;года или 3&nbsp;лет. Это зависит от&nbsp;того, кто претендует на&nbsp;российское гражданство.
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Для кого эта услуга?
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-3-icon_1.svg` width="40" height="40" alt="Рука с сердцем — гуманитарная поддержка")
							p.text.difficulties__text Для граждан из&nbsp;стран, которые попадают под перечень из&nbsp;указа &#8470;&nbsp;702 Президента РФ&nbsp;&laquo;Об&nbsp;оказании гуманитарной поддержки лицам, разделяющим традиционные российские духовно-нравственные ценности&raquo;.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-3-icon_2.svg` width="40" height="40" alt="Шестерёнка — упрощённый порядок гражданства")
							p.text.difficulties__text Для иностранцев, имеющих основания для упрощенного порядка (например, граждане бывших советских республик, родственники граждан&nbsp;РФ).
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-3-icon_3.svg` width="40" height="40" alt="Портфель — иностранные специалисты и инвесторы")
							p.text.difficulties__text Для иностранных квалифицированных специалистов, инвесторов и&nbsp;предпринимателей, ведущих деятельность в&nbsp;России.
