section.section.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Этапы нашей работы:
		.service-steps__list
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-3_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-3_1.webp` srcset=`${baseDirCurImg}service-steps-3_1@2x.webp 2x` alt="Консультация и анализ документов")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-title Консультация и&nbsp;анализ
						p.text.service-steps__description-text Проверим ваши основания для упрощенного порядка или составим пошаговый план для общего.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-3_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-3_2.webp` srcset=`${baseDirCurImg}service-steps-3_2@2x.webp 2x` alt="Подготовка документов для гражданства")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-title Подготовка документов
						p.text.service-steps__description-text Соберем и&nbsp;проверим все необходимое: от&nbsp;ВНЖ и&nbsp;документов о&nbsp;доходах до&nbsp;сертификата о&nbsp;знании языка.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-3_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-3_3.webp` srcset=`${baseDirCurImg}service-steps-3_3@2x.webp 2x` alt="Подача заявления на гражданство")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-title Подача заявления
						p.text.service-steps__description-text Поможем вам во&nbsp;взаимодействии с&nbsp;подразделениями МВД&nbsp;РФ.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-3_4@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-3_4.webp` srcset=`${baseDirCurImg}service-steps-3_4@2x.webp 2x` alt="Сопровождение и информирование по заявлению")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 4
					.service-steps__description
						p.text.service-steps__description-title Сопровождение до&nbsp;результата
						p.text.service-steps__description-text Контролируем сроки рассмотрения и&nbsp;информируем вас на&nbsp;каждом этапе.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-3_5@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-3_5.webp` srcset=`${baseDirCurImg}service-steps-3_5@2x.webp 2x` alt="Получение паспорта — финальный этап")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 5
					.service-steps__description
						p.text.service-steps__description-title Финальные шаги
						p.text.service-steps__description-text Поможем с&nbsp;получением паспорта и&nbsp;принесением Присяги.
