section.section.about-approach.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.about-approach__header
			h2.title-h2.about-approach__title Наш подход
		.about-approach__grid
			.about-approach__col.about-approach__col_media
					.about-approach__images-col.about-approach__images-col_1
						picture.about-advantages__picture
							source(media="(max-width: 768px)" srcset=`${baseDirCurImg}about-approach-1@2x.webp`)
							img.about-approach__img(src=`${baseDirCurImg}about-approach-1.webp` srcset=`${baseDirCurImg}about-approach-1@2x.webp 2x` width="270" height="270" alt="Танцы на культурном мероприятии")
					.about-approach__images-col.about-approach__images-col_2
						picture.about-advantages__picture
							source(media="(max-width: 768px)" srcset=`${baseDirCurImg}about-approach-2@2x.webp`)
							img.about-approach__img(src=`${baseDirCurImg}about-approach-2.webp` srcset=`${baseDirCurImg}about-approach-2@2x.webp 2x` width="270" height="270" alt="Люди в национальных костюмах")
			.about-approach__col.about-approach__col_content
				.about-approach__content-img
					picture.about-advantages__picture
						source(media="(max-width: 768px)" srcset=`${baseDirCurImg}about-approach-3@2x.webp`)
						img.about-approach__img.about-approach__img_second(src=`${baseDirCurImg}about-approach-3.webp` srcset=`${baseDirCurImg}about-approach-3@2x.webp 2x` width="360" height="300" alt="Чайная церемония")
				.about-approach__text-wrapper
					p.text.about-approach__text Наш подход основан на&nbsp;профессионализме, глубоком опыте и&nbsp;системном видении процесса переезда. Мы&nbsp;выстроили работу так, чтобы для вас он&nbsp;был максимально прозрачным, понятным и&nbsp;предсказуемым на&nbsp;каждом этапе.
					p.text.about-approach__text Мы&nbsp;не&nbsp;просто консультируем, а&nbsp;ведем полное сопровождение, беря на&nbsp;себя решение всех задач&nbsp;&mdash; от&nbsp;юридических до&nbsp;бытовых. Наша уникальность в&nbsp;том, что мы&nbsp;понимаем вас с&nbsp;полуслова: часть нашей команды, включая генерального директора Якоба Пиннекера, сама прошла путь интеграции в&nbsp;новой стране.
					p.text.about-approach__text Для нас важны долгосрочные отношения, поэтому мы&nbsp;не&nbsp;только оказываем услуги, но&nbsp;и&nbsp;интегрируем вас в&nbsp;комьюнити переселенцев, оказывая поддержку и&nbsp;после переезда.
