section.section.section_first.about-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.about-intro__header
			h2.title-h2.about-intro__header-title О нас
		.about-intro__grid
			.about-intro__col.about-intro__col_media
				img.about-intro__img(
					src=`${baseDirCurImg}about-intro.webp`
					srcset=`${baseDirCurImg}about-intro@2x.webp 2x`
					width="570"
					height="580"
					alt="Команда OKA Agency за рабочим обсуждением"
				)
			.about-intro__col.about-intro__col_content
				.about-intro__text-wrapper
					p.text.about-intro__text OKA Agency&nbsp;&mdash; уникальная частно-государственная организация, которая помогает переехать в&nbsp;Россию.
					p.text.about-intro__text Мы&nbsp;создаём условия для комфортной и&nbsp;безопасной жизни в&nbsp;России для иностранных граждан, разделяющих традиционные российские ценности. Наша миссия&nbsp;&mdash; обеспечить вам плавную интеграцию в&nbsp;новую социальную и&nbsp;культурную среду, взяв на&nbsp;себя все административные и&nbsp;бюрократические сложности.
					p.text.about-intro__text Мы&nbsp;сопровождаем вас на&nbsp;всех этапах: от&nbsp;консультации и&nbsp;оформления первых документов до&nbsp;решения бытовых вопросов, поиска работы и&nbsp;жилья, устройства детей в&nbsp;школы, детские сады и&nbsp;получения гражданства РФ. Наша цель&nbsp;&mdash; не&nbsp;просто оказать услуги, а&nbsp;помочь вам обустроить жизнь в&nbsp;России, создав прочный фундамент для вашей семьи.
				.about-intro__note.about-intro__note_green.green-block
					p.text.text_white.about-intro__note-text Деятельность агентства осуществляется в&nbsp;рамках исполнения <a class="link" href="http://publication.pravo.gov.ru/document/0001202408190001" target="_blank" rel="noopener noreferrer">Указа Президента Российской Федерации от&nbsp;19&nbsp;августа 2024 года &#8470;&nbsp;702</a>
				.about-intro__note.about-intro__note_light.glass-card
					p.text.about-intro__note-text При поддержке <a class="link" href="https://nobl.ru/" target="_blank" rel="noopener noreferrer">Правительства Нижегородской области</a>
