section.section.about-advantages.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.about-advantages__header
			h2.title-h2.about-advantages__title Наши преимущества
		.about-advantages__grid
			.about-advantages__item
				.about-advantages__item-stat
					p.title-h3.about-advantages__num 800+
					p.text.about-advantages__caption Заявок получено
				.about-advantages__item_img
					picture.about-advantages__picture
						source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}about-advantages-1@2x.webp`)
						img.about-advantages__img(src=`${baseDirCurImg}about-advantages-1.webp` srcset=`${baseDirCurImg}about-advantages-1@2x.webp 2x` width="270" height="270" alt="Работа за ноутбуком")
			.about-advantages__item
				.about-advantages__item-stat
					p.title-h3.about-advantages__num 90+
					p.text.about-advantages__caption Человек переехали с нашей помощью
				.about-advantages__item_img
					picture.about-advantages__picture
						source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}about-advantages-2@2x.webp`)
						img.about-advantages__img(src=`${baseDirCurImg}about-advantages-3.webp` srcset=`${baseDirCurImg}about-advantages-3@2x.webp 2x` width="270" height="270" alt="Семья на фоне крепости")
			.about-advantages__item
				.about-advantages__item-stat
					p.title-h3.about-advantages__num 21
					p.text.about-advantages__caption Семья с детьми среди них
				.about-advantages__item_img
					picture.about-advantages__picture
						source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}about-advantages-3@2x.webp`)
						img.about-advantages__img(src=`${baseDirCurImg}about-advantages-2.webp` srcset=`${baseDirCurImg}about-advantages-2@2x.webp 2x` width="270" height="270" alt="Семья гуляет в парке")
			.about-advantages__item
				.about-advantages__item-stat
					p.title-h3.about-advantages__num 100%
					p.text.about-advantages__caption Гарантия<br> конфиденциальности
				.about-advantages__item_img
					picture.about-advantages__picture
						source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}about-advantages-4@2x.webp`)
						img.about-advantages__img(src=`${baseDirCurImg}about-advantages-4.webp` srcset=`${baseDirCurImg}about-advantages-4@2x.webp 2x` width="270" height="270" alt="Девушка приветствует жестом")
