section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title В&nbsp;чём преимущество наших консультаций?
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item.difficulties__tabs-item_specify
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-6-icon_4.svg` width="40" height="40" alt="Рукопожатие — специализация на иностранных гражданах")
							p.text.difficulties__text Узкая специализация на&nbsp;иностранных гражданах
							.difficulties__specify
								.difficulties__specify-icon
								.difficulties__specify-wrapper
									.difficulties__specify-wrapper-inner
										p.text.difficulties__specify-text Глубокое понимание не&nbsp;только миграционного и&nbsp;трудового права, но&nbsp;и&nbsp;тонкостей семейного, наследственного, земельного, гражданского и&nbsp;налогового законодательства в&nbsp;контексте их&nbsp;применения к&nbsp;иностранцам.
						.difficulties__tabs-item.difficulties__tabs-item_specify
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-6-icon_5.svg` width="40" height="40" alt="Схема — комплексный подход к консультациям")
							p.text.difficulties__text Комплексный подход
							.difficulties__specify
								.difficulties__specify-icon
								.difficulties__specify-wrapper
									.difficulties__specify-wrapper-inner
										p.text.difficulties__specify-text Мы&nbsp;не&nbsp;просто консультируем по&nbsp;отдельным вопросам, а&nbsp;помогаем выстроить полноценную правовую стратегию (например, при покупке недвижимости, оформлении бизнеса или решении семейных споров).
						.difficulties__tabs-item.difficulties__tabs-item_specify
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-6-icon_6.svg` width="40" height="40" alt="Языковые символы — мультиязычная поддержка")
							p.text.difficulties__text Опыт работы с&nbsp;нестандартными правовыми ситуациями
							.difficulties__specify
								.difficulties__specify-icon
								.difficulties__specify-wrapper
									.difficulties__specify-wrapper-inner
										p.text.difficulties__specify-text Умеем решать сложные правовые вопросы, возникающие у&nbsp;иностранцев в&nbsp;России (например, признание иностранных документов, урегулирование споров с&nbsp;учетом норм международного права).
						.difficulties__tabs-item.difficulties__tabs-item_specify
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-6-icon_7.svg` width="40" height="40" alt="Часы — быстрое выполнение без потери качества")
							p.text.difficulties__text Мультиязычная поддержка
							.difficulties__specify
								.difficulties__specify-icon
								.difficulties__specify-wrapper
									.difficulties__specify-wrapper-inner
										p.text.difficulties__specify-text Консультации доступны на&nbsp;английском и&nbsp;немецком языках, включая помощь в&nbsp;переводе юридических терминов.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-6-icon_8.svg` width="40" height="40" alt="Пазл — опыт в сложных правовых случаях")
							p.text.difficulties__text Работаем в&nbsp;сжатые сроки без потери качества
