section.section.service-steps.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-steps__header
			h2.title-h4.title-h4_second.service-steps__title-h4 Этапы нашей работы:
		.service-steps__list
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-6_1@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-6_1.webp` srcset=`${baseDirCurImg}service-steps-6_1@2x.webp 2x` alt="Изучение документов — первичный анализ заявки")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 1
					.service-steps__description
						p.text.service-steps__description-title Первичный анализ
						p.text.service-steps__description-text После вашей заявки изучаем ситуацию и&nbsp;документы.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-6_2@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-6_2.webp` srcset=`${baseDirCurImg}service-steps-6_2@2x.webp 2x` alt="Записи в блокноте — разработка стратегии")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 2
					.service-steps__description
						p.text.service-steps__description-title Разработка стратегии
						p.text.service-steps__description-text Предлагаем оптимальный план решения вопроса.
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-6_3@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-6_3.webp` srcset=`${baseDirCurImg}service-steps-6_3@2x.webp 2x` alt="Онлайн-консультация — выполнение и сопровождение")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 3
					.service-steps__description
						p.text.service-steps__description-title Исполнение
						p.text.service-steps__description-text Проводим консультацию по&nbsp;вашим вопросам (например, по&nbsp;правилам подготовки документов, порядку их&nbsp;подачи в&nbsp;государственные и&nbsp;муниципальные органы и&nbsp;организации).
			.service-steps__item
				.service-steps__img-wrapper
					picture.service-steps__picture
						source(media="(max-width: 650px)" srcset=`${baseDirCurImg}service-steps-6_4@2x.webp`)
						img.service-steps__img(width="270" height="270" src=`${baseDirCurImg}service-steps-6_4.webp` srcset=`${baseDirCurImg}service-steps-6_4@2x.webp 2x` alt="Папка с документами — отчёт и сопровождение")
				.service-steps__text-wrapper
					p.title-h2.service-steps__number 4
					.service-steps__description
						p.text.service-steps__description-title Отчет и&nbsp;сопровождение
						p.text.service-steps__description-text Информируем о&nbsp;результатах и&nbsp;оказываем дальнейшую поддержку.
