section.section.blog-content
	.wrapper
		.section__header
			h2.title-h2 Как переехать в&nbsp;Россию по&nbsp;работе
		.blog-content__meta
			p.text.blog-content__meta-text 5 минут на чтение
		.blog-content__content-body.content
			picture.blog-content__picture
				source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}blog-content@2x.webp`)
				img.blog-content__img(src=`${baseDirCurImg}blog-content.webp` srcset=`${baseDirCurImg}blog-content@2x.webp 2x` width="1170" height="300" alt="Рабочее место у окна с ноутбуком и растением в офисе")
			.blog-content__grid
				.blog-content__text-col
					p Общая миграционная квота для России довольно ограничена и&nbsp;распределена между всеми регионами страны.
					p Потенциальным способом обойти ограничения миграционной квоты является легальное трудоустройство в&nbsp;России по&nbsp;одной из&nbsp;указанных профессий.
					p Хорошим способом поиска вакансий является посещение таких сайтов, как hh.ru, superjob.ru или trudvsem.ru, однако следует учитывать, что сайт на&nbsp;русском языке и&nbsp;вам может потребоваться переводчик в&nbsp;браузере.
				.blog-content__text-col
					p Профессиональная команда агентства &laquo;ОКА&raquo; также может помочь вам найти работу в&nbsp;России. Агентство &laquo;ОКА&raquo; предлагает вам профессиональные услуги по&nbsp;содействию в&nbsp;трудоустройстве. Мы&nbsp;понимаем, насколько важна поддержка в&nbsp;поиске работы в&nbsp;новой стране. Наши рекрутеры готовы оказать всестороннюю помощь на&nbsp;каждом этапе этого процесса в&nbsp;Нижегородской области. Просто свяжитесь с&nbsp;нами напрямую, чтобы получить более подробную информацию.
			.blog-content__grid
				.blog-content__title-col
					h2 Нехватка квалифицированных кадров в&nbsp;России
				.blog-content__content-col
					p Ниже приведен <a href="">список профессий, которыми занимаются иностранные граждане и&nbsp;лица без гражданства</a>, являющиеся квалифицированными специалистами, имеющими право на&nbsp;упрощенную натурализацию в&nbsp;Российской Федерации.
					p Существует&nbsp;ли прямой путь к&nbsp;получению постоянного вида на&nbsp;жительство?
					p В&nbsp;зависимости от&nbsp;вашей ситуации существуют различные пути к&nbsp;новой жизни в&nbsp;России.
					p Пожалуйста, ознакомьтесь с&nbsp;нашими предложениями на&nbsp;главной странице. Кроме того, вы&nbsp;можете просто заполнить нашу форму заявления.
			.blog-content__grid
				.blog-content__title-col
					h2 Как найти работу в&nbsp;России?
				.blog-content__content-col
					p У&nbsp;нас есть отдел по&nbsp;подбору персонала, который профессионально помогает квалифицированным иностранцам найти работу в&nbsp;России.
					p Мы&nbsp;подготовили и&nbsp;другие рекомендации, которые помогут вам в&nbsp;процессе поиска работы после переезда в&nbsp;Россию.
					ul
						li Онлайн-платформы. Как мы&nbsp;уже упоминали выше, на&nbsp;сайтах HeadHunter (hh.ru), SuperJob (superjob.ru) и&nbsp;Work in&nbsp;Russia (trudvsem.ru) размещаются вакансии в&nbsp;самых разных областях.
						li Профессиональные сети. Например, вы&nbsp;можете зарегистрироваться в&nbsp;LinkedIn, чтобы не&nbsp;только найти вакансии, но&nbsp;и&nbsp;установить полезные контакты.
						li Рекрутинговые агентства. Специалисты помогут с&nbsp;поиском работы и&nbsp;составлением резюме.
						li Социальные сети и&nbsp;форумы. Найти профессиональные группы и&nbsp;актуальные вакансии можно во&nbsp;&laquo;ВКонтакте&raquo;, Telegram и&nbsp;Facebook.
						li Консалтинговые компании. Такие компании могут предложить варианты временной проектной работы, которая станет хорошим стартом для долгосрочной карьеры.
		.blog-content__footer.cases-footer
			.cases-footer__wrapper
				button.btn.btn_white.cases-footer__btn.hidden
					span Поделиться
				.cases-footer__navigation.slider-nav
					a.slider-nav__arrow.slider-nav__arrow-prev.cases-footer__nav.cases-footer__nav_prev(href=`${langPrefix}/blog/details/`)
						span.visually-hidden Предыдущая статья
						.slider-nav__disabled-bg
						| <svg class="slider-nav__svg" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
						|     <path d="M0 0L22 0" stroke="rgb(255,255,255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="matrix(-1,0,0,1,27,16)" />
						|     <path d="M0 0L9 9L0 18" fill-rule="nonzero" stroke="rgb(255,255,255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="matrix(-1,0,0,1,14,7)" />
						| </svg>
					a.slider-nav__arrow.slider-nav__arrow-next.cases-footer__nav.cases-footer__nav_next(href=`${langPrefix}/blog/details/`)
						span.visually-hidden Следующая статья
						.slider-nav__disabled-bg
						| <svg class="slider-nav__svg" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
						|     <path d="M5 16L27 16" stroke="rgb(255,255,255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
						|     <path d="M18 7L27 16L18 25" fill-rule="nonzero" stroke="rgb(255,255,255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
						| </svg>
