section.section.main-news.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.main-news__header
			h2.title-h2.main-news__title Новости и статьи
			a.btn.btn_white-second-2.main-news__all(href=`${langPrefix}/blog/`)
				span Увидеть все
		.main-news__body
			.main-news__list
				article.main-news__item
					p.text.text_second.main-news__time 5 мин.
					h3.text.main-news__item-title Бизнес в&nbsp;России: просто, легально, с&nbsp;государственной поддержкой
					p.text.text_second.main-news__excerpt Россия активно привлекает иностранных предпринимателей и&nbsp;инвесторов, предлагая выгодные условия для ведения бизнеса. Благодаря специальным программам, упрощенным процедурам регистрации и&nbsp;налоговым льготам, иностранцы могут успешно запускать и&nbsp;развивать свои проекты на&nbsp;одном из&nbsp;самых перспективных рынков Евразии.
					a.text.text_green.text_second.link.main-news__read(href=`${langPrefix}/blog/business-support/`) Читать полностью
				article.main-news__item
					p.text.text_second.main-news__time 5 мин.
					h3.text.main-news__item-title Государственный реестр иностранных граждан, пребывание которых в&nbsp;России не&nbsp;соответствует установленным требованиям
					p.text.text_second.main-news__excerpt Иностранные граждане, не&nbsp;имеющие документов для законного проживания и&nbsp;работы на&nbsp;территории Российской Федерации и&nbsp;включенные в&nbsp;государственный реестр, должны до&nbsp;30&nbsp;апреля либо выехать из&nbsp;России, либо обеспечить соблюдение российского законодательства.
					a.text.text_green.text_second.link.main-news__read(href=`${langPrefix}/blog/register-foreigners/`) Читать полностью
			.main-news__preview
				img.main-news__image(width="570" height="530" src=`${baseDirImg}news-preview.webp` srcset=`${baseDirImg}news-preview@2x.webp 2x` alt="Панорама города на закате с храмом у реки")
