section.section.main-about.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.main-about__header
			h2.title-h2.main-about__header-title О нас
			p.text.text_small.text_grey.main-about__header-text Наша работа строится при поддержке <a class="link" href="https://nobl.ru/" target="_blank" rel="noopener noreferrer">Правительства Нижегородской области</a> и&nbsp;в&nbsp;соответствии с&nbsp;<a class="link" href="http://publication.pravo.gov.ru/document/0001202408190001" target="_blank" rel="noopener noreferrer">Указом Президента от&nbsp;19&nbsp;августа 2024 года &#8470;&nbsp;702</a>
		.main-about__wrapper
			.main-about__col.main-about__col_1
				img.main-about__img-base.main-about__img(width="570" height="694" src=`${baseDirImg}main-about-1.webp` srcset=`${baseDirImg}main-about-1@2x.webp` alt="Деловое общение в офисе")
			.main-about__col.main-about__col_2
				.main-about__card-wrapper
					img.main-about__img.main-about__img-second(width="570" height="328" src=`${baseDirImg}main-about-2.webp` srcset=`${baseDirImg}main-about-2@2x.webp` alt="Руки передают зелёное сердце")
					.main-about__card-text-wrapper
						p.text.text_white.text_second.main-about__card-text <b>Мы&nbsp;помогаем</b> иностранным гражданам, которым близки традиционные российские ценности, с&nbsp;заботой и&nbsp;вниманием пройти путь переезда и&nbsp;адаптации в&nbsp;России.
				.main-about__info
					p.text.text_medium-1.main-about__info-text OKA Agency&nbsp;&mdash; уникальная частно-государственная организация, которая помогает переехать в&nbsp;Россию.
					p.text.text_medium-1.main-about__info-text Мы&nbsp;решаем юридические и&nbsp;бытовые вопросы, и&nbsp;<span>поддерживаем переселенцев в&nbsp;адаптации, создаём тёплое сообщество и&nbsp;работаем над тем, чтобы путь переезда становился проще для всех.</span>
				.main-about__aditional-info
					a.btn.btn_green.btn_telegram.main-about__telegram(href="https://telegram.me/relocation_to_russia" target="_blank")
						span OKA в Telegram
						.btn__telegram-icon
							| <svg class="btn__telegram-svg" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
							|     <path d="M21.2835 26.7498C21.4134 26.8645 21.571 26.9434 21.7406 26.9788C21.9103 27.0143 22.0862 27.005 22.2512 26.9519C22.4162 26.8989 22.5646 26.8038 22.6818 26.6761C22.799 26.5485 22.881 26.3925 22.9197 26.2236L28.001 4.15234C28.0059 4.1302 28.0048 4.10714 27.9976 4.08561C27.9905 4.06409 27.9776 4.04491 27.9604 4.03014C27.9432 4.01537 27.9223 4.00556 27.8999 4.00176C27.8776 3.99797 27.8546 4.00032 27.8335 4.00858L2.50098 13.9223C2.34371 13.9829 2.21033 14.0928 2.12084 14.2356C2.03135 14.3783 1.99059 14.5463 2.00468 14.7142C2.01877 14.8821 2.08694 15.041 2.19897 15.1668C2.31099 15.2927 2.46083 15.3789 2.62598 15.4123L10.001 16.8586L21.2835 26.7498Z" fill-rule="nonzero" stroke="rgb(9,89,9)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
							|     <path d="M10 16.8592L27.9263 4.01172" stroke="rgb(9,89,9)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
							|     <path d="M15.5463 21.7231L11.72 25.6931C11.5817 25.8366 11.4038 25.9354 11.209 25.9771C11.0141 26.0187 10.8113 26.0012 10.6265 25.9268C10.4417 25.8524 10.2833 25.7245 10.1717 25.5595C10.0601 25.3944 10.0003 25.1998 10 25.0006L10 16.8594" fill-rule="nonzero" stroke="rgb(9,89,9)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
							| </svg>
					a.text.text_second.text_green.link.main-about__about-link(href=`${langPrefix}/about/`) <b>Подробнее о нас</b>
		ul.main-about__number-cards
			li.main-about__number-item
				p.title-h3.main-about__number-title(role="heading" aria-level="3") 800+
				p.text.main-about__number-text заявок получено
			li.main-about__number-item
				p.title-h3.main-about__number-title(role="heading" aria-level="3") 90+
				p.text.main-about__number-text человек переехали с&nbsp;нашей помощью
			li.main-about__number-item
				p.title-h3.main-about__number-title(role="heading" aria-level="3") 21
				p.text.main-about__number-text семья с&nbsp;детьми<br> среди них
			li.main-about__number-item.main-about__number-item_green
				p.title-h3.title-h3_white.main-about__number-title(role="heading" aria-level="3") 100%
				p.text.text_white.main-about__number-text гарантия конфиденциальности
