section.section.success-stories.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.success-stories__header
			h2.title-h2.success-stories__title Истории успеха
		.success-stories__top
			.success-stories__left
				article.success-stories__card.success-stories__card_featured
					h3.text.success-stories__card-title &laquo;В&nbsp;России мы&nbsp;обрели духовную родину, где наши ценности могут прочно укорениться&raquo;
					p.text.success-stories__card-author Семья Барбен
					a.text.text_green.text_second.text_second-no-spacing.link.success-stories__card-more(href=`${langPrefix}/cases/barben/`)
						b Узнать подробнее
				.success-stories__cta
					a.btn.btn_green.success-stories__btn(href=`${langPrefix}/cases/`)
						span Посмотреть все кейсы
			.success-stories__right
				img.success-stories__image(width="600" height="450" src=`${baseDirImg}family.webp` srcset=`${baseDirImg}family@2x.webp 2x` alt="Семья Барбен")
		.success-stories__list
			a.success-stories__mini(href=`${langPrefix}/cases/klarot/`)
				.success-stories__mini-head
					img.success-stories__mini-avatar(width="60" height="60" src=`${baseDirImg}avatar1.webp` srcset=`${baseDirImg}avatar1@2x.webp 2x` alt="Семья Кларот")
					.success-stories__avatar-info
						p.text.success-stories__mini-name Семья Кларот
						.success-stories__mini-rating
							span.success-stories__star
							span.success-stories__star
							span.success-stories__star
							span.success-stories__star
							span.success-stories__star
				p.text.success-stories__mini-quote &laquo;Россия дала нам возможность реализовать проект, который меняет мир к&nbsp;лучшему&raquo;
				p.text.text_second.text_second-no-spacing.link.success-stories__mini-read
					b Читать полностью
			a.success-stories__mini.success-stories__mini_light(href=`${langPrefix}/cases/golembiewski/`)
				.success-stories__mini-head
					img.success-stories__mini-avatar(width="60" height="60" src=`${baseDirImg}avatar2.webp` srcset=`${baseDirImg}avatar2@2x.webp 2x` alt="Семья Голембиевски")
					.success-stories__avatar-info
						p.text.success-stories__mini-name Семья Голембиевски
						.success-stories__mini-rating
							span.success-stories__star
							span.success-stories__star
							span.success-stories__star
							span.success-stories__star
							span.success-stories__star
				p.text.success-stories__mini-quote &laquo;В&nbsp;России мы&nbsp;получили шанс реализовать&nbsp;то, о&nbsp;чём мы&nbsp;давно мечтали&raquo;
				p.text.text_second.text_second-no-spacing.link.success-stories__mini-read
					b Читать полностью
			a.success-stories__mini.success-stories__mini_light(href=`${langPrefix}/cases/kirsch/`)
				.success-stories__mini-head
					img.success-stories__mini-avatar(width="60" height="60" src=`${baseDirImg}avatar3.webp` srcset=`${baseDirImg}avatar3@2x.webp 2x` alt="Ремо Кирш")
					.success-stories__avatar-info
						p.text.success-stories__mini-name Ремо Кирш
						.success-stories__mini-rating
							span.success-stories__star
							span.success-stories__star
							span.success-stories__star
							span.success-stories__star
							span.success-stories__star
				p.text.success-stories__mini-quote &laquo;Мы&nbsp;строим не&nbsp;просто дом, а&nbsp;наследие&nbsp;&mdash; проект, который объединяет людей и&nbsp;культуры&raquo;
				p.text.text_second.text_second-no-spacing.link.success-stories__mini-read
					b Читать полностью
